<app-navbar></app-navbar>
<div class="row container">
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota1.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota3.jpg" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes1 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota2.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes2 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota4.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes3 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
</div>

<div class="row container">
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota2.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota4.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes1 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota1.png" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes2 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
    <div class="col-md-3">
        <div>
            <img src="assets/img/nota3.jpg" class="img-thumbnail" alt="nota de clase 1">
            <label>Nota de grupo: mis apuntes3 </label>
        </div>
        <button class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>

    </div>
</div>