<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Notas-Konrad Login</h5>
              <form class="form-signin">
                
                
                <div class="form-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="form-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">Google <i class="fa fa-google-plus-square" style="font-size:20px;margin-left: 20px;"></i></button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">Email Institucional <i class="fa fa-envelope" style="font-size:20px;margin-left: 20px;"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  