<app-navbar></app-navbar>
<div class="container">
    <form style="margin-top: 26px ;">
        <h1 class="text-center"><strong>Crea tu Nota</strong></h1>

        <label class="form-group"><strong>Grupo:</strong></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputEmail3" placeholder="">
        </div>


        <label class="form-group"><strong>Descripcion de Nota:</strong></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>


        <label class="form-group"><strong>Nota a agregar:</strong></label>
        <div class="col-sm-12">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            <div class="form-group">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>

        <label class="form-group"><strong>Compartir Nota Con:</strong></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>

        <div class="row justify-content-center" style="margin-top: 20px;">
            <div class="col-3">
                <button type="submit" class="btn btn-success">Crear <i class="fa fa-book" style="font-size:20px;margin-left: 20px;"></i></button>
                <button type="" class="btn btn-danger" style="margin-left: 10px ;">Limpiar <i class="fa fa-trash-o" style="font-size:20px;margin-left: 20px;"></i></button>
            </div>

        </div>
    </form>

</div>