<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Notas Konrad</a>
    <div class="collapse navbar-collapse" id="navbarContenido">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="grupos">Grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="crea_nota">Crear Nota</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"> Ver Nota </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </nav>